*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #fff;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

.focus{
  color:#FF1237;
}
#header{
  background: #1C292E;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#main{
  padding-top: 20px;
  padding-bottom: 20px;
}
a{
  color: #ff1237;
}
a:hover{
  text-decoration: none;
}
#intro{
  margin-bottom: 2em;
}
.website{
  background-color: #FAFAFA;
  padding:20px 30px;
}
.website:hover{
  transition: all linear 0.2s;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}
 .website img{
  width: 40px;
  height: auto;
}
.website .title{
  font-weight: bold;
  font-size: 2em;
  vertical-align: middle;
}
.website button{
  margin-bottom: 15px;
}
.website button a{
  color: #fff;
}
.card{
  margin-bottom: 10px;
}
